.image-slider-container {
  width: 100%;
  height: 350px;
}
.image-slider {
  position: relative;
  height: 350px;
  overflow: hidden;
  width: 75%;
  margin: 2vw auto 0px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
